:root{
    --black:#000;
    --gradiant:linear-gradient(rgb(56,70,75), #121212);
}
.homeSidebar, .homeContent{
    height: 100vh;
    background-color: var(--black);
}
.logo img{
    width: 130px;
}
.homeContent{
    background-image: var(--gradiant);
}